# build output
dist/
# generated types
.astro/
tina/__generated__/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# large video files (hosted on Archive.org)
public/assets/video/

# design source files
design/

# IA config
.config/internetarchive/

# jetbrains setting folder
.idea/
