---
interface Props {
  images: string[];
  credits?: string;
  fullscreen?: boolean;
}
const { images, credits, fullscreen } = Astro.props;
---
<article class="post" data-category="fotos">
  {images.length === 1 ? (
    <img class="post-foto__image" src={images[0]} alt="" loading="lazy" />
  ) : (
    <div class="post-foto__gallery">
      {images.map((src) => (
        <img class="post-foto__image" src={src} alt="" loading="lazy" />
      ))}
    </div>
  )}
  {credits && <p class="post-foto__credits">{credits}</p>}
</article>
